<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Login</title>
    <link rel="stylesheet" href="/static/main.css">

</head>
<body>
    <div>
        <div class="container">
            <h1>Pods</h1>
            {% for pod in pods %}
                <p>{{ pod.metadata.name }}</p>
            {% endfor %}
            <p>
        </div>
        <div class="sidebar">
            <a href="/logout">Logout</a>
    </div>
</body>
</html>